/* http://meyerweb.com/eric/tools/css/reset/ 
2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==================================================
Clearfix
==================================================
*/

.group:before,
.group: after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
==================================================
Custom Styles
==================================================
*/


body {
  background-color: #f5f8fa;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

/*
==================================================
Grid
==================================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}





/*==================================
Columns
====================================*/


.container {
	width: 960px;
}
.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}




.col-2-3 {
	width: 66%;
	text-align: right;

}

.col-1-3 {
	background: #FFFFFF;
	width: 33%;
	text-align: left;
  height: 100%;
  border: solid 2px #EAEAEA;
  border-radius: 1em;
}

/*==================================
Header
====================================*/
header {
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0;
  margin: 5px;
  border-bottom: solid 2px #EAEAEA;
  text-align: center;
}

/*==================================
Footer
====================================*/
small {
  float: left;
  font-weight: 400;
}
footer {
  display: inline-block;
  width: 100%;
  margin: 10px;
  border: solid 2px #EAEAEA;
  position: relative;
  text-align: center;
}

/*==================================
Links
====================================*/

a, .livestamp {
  text-align: center;
  font: 400 12px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bdbebf;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}
/*==================================
Images
====================================*/

.photo {
  border-radius: 50%;
  margin: 0 15%;
  }


/*==================================
Tweets
====================================*/

.newTweet {
  margin: 5px;
  padding: 20px;
  border: solid 2px #EAEAEA;
  color: #000000;
  font-size: 20px;
  background-color: #f5f8fa;
}


.makeTweet {
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: solid 2px #EAEAEA;
  color: #000000;
  font-size: 20px;
  background-color: #f5f8fa;
}
/*==================================
Buttons
====================================*/

button {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  background-color: rgba(47, 194, 239, .5);
  float: left;
  font-size: 16px;
}

button:hover {
  background-color: #a9b2b9;
}

.alt {
  float: none;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
}

.back {
  width: 30%;
  margin: 2px 5px;
  border-radius: 5px;
}

.submit {
  width: 20%;
  padding: 5px;
  margin: 2px;
}

.otherUser {
  vertical-align: 0;
}

/*==================================
Placeholders
====================================*/


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

/*==================================
Text
====================================*/

p {
  text-align: center;
    font: 700 25px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
